@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Marck+Script&display=swap');

body {
    background: #f6f5e8;
    margin: 0 !important;
}

.v-avatar{
    border-radius: 0% !important;
    padding-left: 7px !important;
}

.error_text{
    font-size: 12px;
    margin-top: 7px;
    color: #B00020;
    padding-left: 16px;
    font-family: "Roboto", sans-serif;
}
.v-main{
    --v-layout-left: 56px !important;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}
.comforter-regular {
    font-family: "Comforter", cursive;
    font-weight: 400;
    font-style: normal;
}
.caveat{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}
.marck-script-regular {
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
}



